.container {
    width: 360;
    margin: 20px auto;
    padding: 15px;
    background: #8889b9;
    text-align: center;
}

#btn {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    background: rgb(174, 0, 255);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 15px;
    user-select: none;
    cursor: pointer;
}

P {
    margin: 30px 0px;
}

#result {
    font-size: 28px;
    font-weight: bold;
}